<div class="container text-center text-red-700">
  <h1 class="text-3xl mt-16 md:mt-14 font-bold">温める冷凍チャーハンの量と時間を入力してね!</h1>
  <p class="my-2">※600Wです。一度に温められる量は800gまでです</p>
  <div class="w-1/2 lg:w-1/5 mx-auto my-3">
    <%= image_tag 'microwave_open' %>
  </div>

  <%= form_with model: @fried_rice, url: '/fried_rices/result', local: true, data: { turbo: false } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.number_field :amount, class: 'flex-1 appearance-none border border-gray-300 py-2 px-4 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-red-700 focus:border-transparent rounded-lg text-black my-2' %>g<br>
    <%= f.number_field :minute, class: 'flex-1 appearance-none border border-gray-300 py-2 px-4 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-red-700 focus:border-transparent rounded-lg text-black my-2' %>分<br>
    <%= f.number_field :second, class: 'flex-1 appearance-none border border-gray-300 py-2 px-4 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-red-700 focus:border-transparent rounded-lg text-black my-2' %>秒<br>
    <%= f.submit 'レンジでチン', class: 'bg-red-800 hover:bg-red-700 focus:ring-4 focus:ring-red-300 text-white text-lg py-2 px-4 my-4 rounded-full' %>
  <% end %>
</div>
