<div class="container text-center text-red-700">
  <h1 class="text-3xl font-bold my-16">温め完了！</h1>
  <p class="text-2xl my-3"><%= @amount_evaluation %></p>
  <p class="text-2xl my-3"><%= @warming_time_evaluation %></p>
  <p class="text-2xl my-8">総評 <%= @general_comment %></p>

  <%= link_to fried_rices_preparation_path do %>
    <button class="bg-red-800 hover:bg-red-700 focus:ring-4 focus:ring-red-300 text-white text-lg py-2 px-4 my-4 rounded-full">もう一回温める！</button>
  <% end %>
  <br>
  <%= link_to "https://twitter.com/share?url=#{request.url}&text=温め結果！%0A#{@amount_evaluation}%0A#{@warming_time_evaluation}%0A#{@general_comment}%0A&hashtags=冷凍チャーハンが縮みすぎてツライ", target: '_blank' do %>
    <button class="bg-twitterblue text-white text-lg py-2 px-4 my-4 rounded-full"><i class="fab fa-twitter"></i>シェアする</button>
  <% end %>
</div>